<!--The content below is only a placeholder and can be replaced.-->
<!-- <button (click) = "callTest()">call test api</button> -->

<!-- <app-btn-rounded-ripple></app-btn-rounded-ripple>   -->
 <!-- <app-btn-square-ripple></app-btn-square-ripple>   -->
 <!-- <app-btn-ripple-inside></app-btn-ripple-inside> -->

 <!-- <app-header-flexbox></app-header-flexbox> -->
 <!-- <app-header-cssgrid></app-header-cssgrid> -->
 <app-landing-page-header-twocol-footer></app-landing-page-header-twocol-footer>

  <!-- WIP -->
 <!-- <app-mast-head-ripple></app-mast-head-ripple> -->
