<!-- <div class="container">
    <header>HEADER</header>
    <aside>MENU</aside>
    <main>CONTENT</main>
    <footer>FOOTER</footer>
  </div> -->

  <!-- 5. expanding. See css for 5. -->
  <div class="container">
      <header class="header" >
          <!-- BEM used -->
          <div class="header--left header__text">Home</div>
          <div class="header--left header__text">Products</div>
          <div class="header--right header__text">Logout</div>
      </header>
      
      <aside class="aside">
        <div>
          <a href="#" class="aside__item">Product 1</a>
          <a href="#" class="aside__item">Product 2</a>
          <a href="#" class="aside__item">Product 3</a>
          <a href="#" class="aside__item">Product 4</a>
        </div>  
      </aside>

      <main>CONTENT</main>
      <footer>FOOTER</footer>
    </div>  